:root {
  --color-bg: #F0F4F8;
  --color-primary: #222222;
  --color-accent: #008BFE;
  --color-accent-hover: #006FCB;
  --color-shadow: #CCE8FF;
  --color-bg-content: #FFFFFF;
  --color-success: #09BB00;
  --color-fail: #D00303;
  --font: "Roboto", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font);
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
  display: grid;
  place-items: center;
  color: var(--color-primary);
  min-height: 100vh;
}